@font-face {
  font-family: 'AL'; /* 自定义字体名 */
  src: url('@/assets/fonts/阿里妈妈数黑体.ttf') format('truetype'); /* 引入ttf格式的字体文件 */
  font-weight: normal; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}
:deep(#app){
  overflow: hidden;
}
.skybox{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y:auto;
  &::-webkit-scrollbar{
    display: none;
  }
  .el-container{
    flex: none;
    .el-main{
      display:flex;
      flex-direction: column;
      padding: 0;
      overflow: hidden;
      .headBanner{
        width: 100%;
        height: 600px;
        background: url('@/assets/images/headbg.jpg') top center no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
          font-size:100px;
          font-family: 'AL';
          color: #fff;
          letter-spacing:10px;
          margin-bottom:15px;
          margin-top:8%;
        }
        span{
          text-transform: uppercase;
          font-family: "Microsoft YaHei";
          font-size: 36px;
          color: #fff;
          letter-spacing:5px;
        }
      }
      .imglist{
        padding: 0;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: -145px;
        .imgitem{
          width:48.8%;
          height:630px;
          cursor: pointer;
          margin-bottom:35px;
          &:nth-child(3),&:nth-child(4){
            margin-bottom:0;
          }
          .el-image{
            width:100%;
            height:100%;
            border-radius:20px;
            &:hover{
              //transform:scale(1.08);
              transition: all .3s linear;
              //box-shadow:0 0 10px 5px rgba(236,254,11,.3);
              border: 5px solid #ecfe0b;
            }
          }
        }
      }
      .linklist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width:95%;
        margin: -85px auto 10px;
        padding: 0;
        flex: 1;
        li{
          width: 31%;
          height: 275px;
          background-size: 100% 100% !important;
          margin-bottom: 60px;
          border-radius:20px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &:hover{
            transform:scale(1.1);
            transition: all .3s linear;
            box-shadow:0 0 15px 7px rgba(0,0,0,.2);
            span{
              transform:scale(1.1);
              transition: all .3s linear;
              text-shadow: 0 0px 10px rgba(0,0,0,.3);
            }
          }
          span{
            font-size: 30px;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }


    .el-footer{
      --el-footer-height:58px;
      --el-footer-padding:0;
      border-top: 3px solid #62AAEB;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
      p{
        width: 100%;
        font-family: "Microsoft YaHei";
        text-align: center;
        font-size: 18px;
        color: #333;
        margin: 0;
        span{
          margin-right: 5%;
        }
      }
    }
  }


}